# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environments
.venv/
venv/

# dbt / local artifacts
dbt/target/
dbt/logs/
dbt/.user.yml
dbt/profiles.yml
data/warehouse.duckdb
data/bronze/open_meteo/*.ndjson
data/silver/*
!data/silver/.gitkeep
data/gold/*
!data/gold/.gitkeep

# Streamlit
.streamlit/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# IDE / OS
.DS_Store
Thumbs.db
.idea/
.vscode/

# Local env files
.env
